<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="{{ url_for('static', filename='visitorScript.js') }}"></script>


</head>
<body>

<div class="wrap">
    <div class="visit-box">
        <p><input placeholder="" class="visit-name" type="text" /></p>
        <textarea placeholder="방명록을 작성하세요" class="visit-text" name="story" rows="4" cols="50"></textarea>
        <button onclick="visitorMake" name="button">등록</button>
    </div>
</div>

</body>
</html>